*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
  }
  
  body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    color: var(--texto-principal);
  }
  
  button{
    color: var(--texto-escuro);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 1.6rem;
    padding: 6px 1rem;
  }
  
  @media(max-width: 1080px){
    html{
      font-size: 93.75%;
    }
  }
  
  @media(max-width: 720px){
    html{
      font-size: 87.5%; 
    }
  }

  section.card{
    width: 782px;
    margin-top: 8px;
    background-color: var(--fundo-card);
    border-radius: .8rem;
    line-height: 1.25;
  }
  
  .card.informacoes-perfil{
    font-size: 62.5%;
    margin-top: 2.4rem;
  }
  
  .informacoes-perfil .perfil-capa img{
    width: min(100%, 782px);
    height: 196px;
    object-fit: cover;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
  }
  
  .perfil-foto-wrap,
  .perfil-detalhes-wrap,
  .perfil-conexoes,
  .perfil-acoes {
    padding: 8px 24px 0;
  }
  .perfil-foto-wrap{
    display: flex;
    justify-content: space-between;
  }
  .perfil-foto img{
    width: 156px;
    height: 156px;
    margin-top: -112px;
    border: 4px solid var(--fundo-card);
    border-radius: 50%;
  }
  
  .perfil-notificacao{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: .25s ease;
    cursor: pointer;
  }
  .perfil-notificacao:hover{
    background-color: var(--fundo-card-ativo);
  }
  
  .perfil-detalhes-wrap{
    display: grid;
    grid-template-areas:
      "pessoal carreira"
      "local carreira";
  }
  
  .perfil-detalhes-pessoal{
    grid-area: pessoal;
  }
  .perfil-detalhes-pessoal h1{
    font-size: 2.4em;
  }
  .perfil-detalhes-pessoal div{
    font-size: 1.6em;
  }
  .perfil-detalhes-pessoal div.texto-pequeno{
    font-size: 1.4em;
    color: var(--texto-secundario);
  }
  
  .perfil-detalhes-carreira{
    grid-area: carreira;
  }
  
  ul.perfil-detalhes-carreira li a{
   display: flex;
   align-items: center;
   margin-bottom: .6rem;
  }
  
  ul.perfil-detalhes-carreira li a img{
    width: 32px;
    height: 32px;
    margin-right: .6rem;
  }
  
  .perfil-detalhes-local{
    grid-area: local;
    font-size: 1.4em;
  }
  .perfil-detalhes-local .local-contato{
    position: relative;
  }
  
  .perfil-conexoes{
    display: flex;
    position: relative;
    padding-top: 4px;
    font-size: 1.4em;
    color: var(--primario);
  }
  
  .perfil-conexoes li:last-child,
  .perfil-detalhes-local .local-contato{
    margin-left: .6rem;
  }
  .perfil-detalhes-local .local-contato::before,
  .perfil-conexoes li:last-child::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-250%,-50%);
    background: gray;
  }
  
  .perfil-acoes{
    padding: 8px 24px 24px;
  }
  .perfil-acoes button:last-child{
    margin-left: .6rem;
  }

  @import url('./reset.css');
  @import url('./secao-informacoes-perfil.css');
  
  body{
    background-color: var(--fundo-escuro);
  }
  
  a{
    color: var(--primario);
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  main{
    display: flex;
    justify-content: center;
  }
  
  .botao-primario{
    background-color: var(--primario);
  }
  
  .botao-secundario{
    background: transparent;
    color: var(--primario);
    border: 1px solid var(--primario);
  }