
@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', 'cursive';
    --font3: 'Sriracha', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

section#img1 {
    background: url(imagens/background001.jpg) center center no-repeat fixed;
    position: relative;
   
}

section#img2 {
    background: url(imagens/background002.jpg) center center no-repeat fixed;
    position: relative;

    
    
} 

header {

    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;/*text-transform: uppercase; para deixar todas as letras maiusculas tbm*/
    font-size: 3em;
}

header > p {
    padding-bottom: 50px;


}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
    
header a:hover, footer a:hover  {
    text-decoration: underline;

}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagen > p {
    
    width: 400px;
    background-image: linear-gradient(to right, rgba(211, 211, 211, 0.685),transparent);
    text-shadow: 1px 1px 4px black;

       
}

section.imagen {
    background-color: rgb(54, 54, 54);
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}