@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {

    background-color: grey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(48   48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu#itens {
    display: none;

}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    background-color: rgba(87, 87, 87, 0.74);
    border-top: 2px solid gray;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;

}

menu > ul > li > a:hover {
    background-color: darkgray;
}

main {
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    width: 70vw;
}


article > h2 {
    padding-bottom: 20px;
    
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    
    text-indent: 20px;
}