@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: 'Krona One', sans-serif;
    --font2: 'Montserrat', sans-serif;
}


body {
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
    
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font1);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--font2);
    
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 285px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: var(--font2);
}