@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: 'Krona One', sans-serif;
    --font2: 'Montserrat', sans-serif;
}


body {
    background-color: black;
    box-sizing: border-box;
    color: #F6F6F6;
    
    
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.cabecalho__menu__link {
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}



.apresentacao {
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    
}

.apresentacao__conteudo__titulo {
    font-family: var(--font1);
    font-size: 36px;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-family: var(--font2);
    font-size: 24px;
    
    
}

.apresentacao__links__subtitulo {
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 400;

    
    
    
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;

    
}

.apresentacao__links__link {
    border: 2px solid #22D4FD;
    background-color: #000000;
    border-radius: 8px;
    color: #F6F6F6;
    display: flex;
    font-family: var(--font2);
    font-size: 24px;
    justify-content: center;
    gap: 16px;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 280px;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 400;
    background-color: #22D4FD;
    color: #000000;
    padding: 24px;
    text-align: center;
}