@charset "UTF-8";

body {
    background-image: url(../imagens/back-print.jpg);
}

main {
    border: 1px solid black;
}

img#phone{ display: none;}
img#table{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}
img#print{ display: block;}