@charset "UTF-8";

body {
    background-image: url(../imagens/back-tv.jpg);
}

img#phone{ display: none;}
img#table{ display: none;}
img#pc{ display: none;}
img#tv{ display: block;}
img#print{ display: none;}