.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulos {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
}

.tópicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .tópicos__titulos {
        font-size: 24px;
    }

    .tópicos__link {
        font-size: 24px;
    }
    
}


@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw;
    }
    
    
}
